<!--
Here is the main HTML where handlebars will render to
 -->

<!DOCTYPE html>
<html lang="en">
	<head>
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/assets/css/styles.css" type="text/css" />
        <title>CraigSlayer</title>
	</head>
	<body>
    <div class="container">
        <div class="jumbotron">
            <h1>CraigsSlayer</h1>
        </div>
        <p>
            {{#unless logged_in}}
                <a href="/users/sign-in" class="btn btn-info btn-lg">
                    <span class="glyphicon glyphicon-screenshot"></span> SLAYERS
                </a>
                <a href="/users/new" class="btn btn-lg btn-success">
                    <span class="glyphicon glyphicon-plus"></span> CREATE ACCOUNT
                </a>
            {{/unless}}

            {{#if logged_in}}
                Welcome {{email}}! <br>
                You are user {{user_id}}.<br>
                <button class="btn btn-warning" href="/users/sign-out">Sign Out</button>
            {{/if}}
        </p>
        {{{ body }}}
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</HTML>
